@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Courgette&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Nunito:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Courgette&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Nunito:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@500&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Corinthia:wght@400;700&family=Courgette&family=Kaushan+Script&family=Merienda:wght@700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Nunito:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@500&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Arima+Madurai:wght@700&family=Corinthia:wght@400;700&family=Courgette&family=Kaushan+Script&family=Merienda:wght@700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Nunito:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@500&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Arima+Madurai:wght@700&family=Corinthia:wght@400;700&family=Courgette&family=Gentium+Book+Basic:ital@0;1&family=Kaushan+Script&family=Merienda:wght@700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,600&family=Nunito:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@500&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('https://i.postimg.cc/MpVvCrDd/p05ccrb2.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    padding: 22px 3%;
    display: flex;
    align-items: center;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    font-family: Abhaya Libre;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.logo {
    width: 32px;
    cursor: pointer;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
    margin: 0 20px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
    font-family: Nunito;
}

.social-media {
    transform: rotate(90deg) translate(-100%);
    transform-origin: left;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9%;
    width: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.row {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 3%;
}

.row span {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 18px;
}

.row span img {
    width: 15px;
    margin-right: 15px;
}

.content-span {
    font-size: 30px;
}

.content h1 {
    font-size: 62px;
    margin-bottom: 20px;
    font-family: Merienda;
}

.content p {
    font-size: 20px;
    line-height: 30px;
}

.website {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    line-height: 27px;
}

.row span.active {
    font-size: 30px;
    margin-bottom: 20px;
}

.row span.active img {
    width: 30px;
    margin-left: -10px;
    margin-right: 10px;
}

.info {
    position: relative;
    font-family: Gentium Book Basic;
    font-size: 40px;
}

.info::before {
    content: ' ';
    background: gray;
    height: 100%;
    width: 2px;
    position: absolute;
    top: 5px;
    left: -30px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
    width: 75%;
    left: 12.5%;
}

.arrow img {
    width: 60px;
    cursor: pointer;
}